<header class="head" role="banner">
  <div class="wrap clearfix">
    <a href="{{ site.baseurl }}" class="logo"><h2>{{ site.title }}</h2></a>

    <nav class="main-nav" role="navigation" id="menu">
      <ul>
        <li><a href="index.html"><span>Baking</span></a></li>
        <li><a href="index.html"><span>Dinner</span></a></li>
        <li><a href="index.html"><span>Snacks</span></a></li>
      </ul>
    </nav>

    <nav class="user-nav" role="navigation">
      <ul>
        <li class="light"><a href="{{ site.baseurl }}"><i class="ico i-submitrecipe"></i></a></li>
      </ul>
    </nav>
  </div>
</header>
