<header class="head" role="banner">
  <div class="wrap clearfix">
    <a href="{{ site.baseurl }}" class="logo"><h2>{{ site.title }}</h2></a>

    <nav class="main-nav" role="navigation" id="menu">
      <ul>
      {% for category in site.categories %}
        <li><a href="{{ category[0] | downcase }}.html"><span>{{ category[0] }}</span></a></li>
      {% endfor %}
      </ul>
    </nav>

    <nav class="user-nav" role="navigation">
      <ul>
        <li class="light"><a href="{{ site.baseurl }}"><i class="ico i-submitrecipe"></i></a></li>
      </ul>
    </nav>
  </div>
</header>
