---
layout: default
---
<main class="main" role="main">
  <div class="wrap clearfix">
    <div class="row">
      <section class="content">
        <div class="recipe">
          <div class="row">

          <!-- Header -->
            <article>
              <div class="image">
                <header class="s-title">
                  <h1>{{ page.title }}</h1>
                </header>
                <img src="{{ page.title_image | prepend: 'img/recipes/' | prepend: site.baseurl }}" style="width: 100%;"/>
              </div>

              <div class="intro">
              <p><strong>{{ page.description }}</strong></p>
              <p>{{ content }}</p>

              <span class="reference" style="font-style: italic; font-size: 12px">
                {% if page.source_text %}
                  {% if page.source_link %}
                    <a href="{{ page.source_link }}"><span class="glyphicon glyphicon-link"></span></a>
                  {% endif %}
                  {{ page.source_text }}

                  {% if page.image_source %}<br /> {% endif %}
                {% endif %}
                {% if page.image_source %}
                  <a href="{{ page.image_source }}"><span class="glyphicon glyphicon-link"></span></a>
                  Title image from {{ page.image_source | split:'://' | last | split:'/' | first }}
                {% endif %}
              </span>
              </div>
            </article>

            <!-- Metadata and ingredients sidebar -->
            <article class="one-third">
              <dl class="user">
                <dt>Preparation time</dt>
                <dd>{{ page.prep_time }}</dd>
                <dt>Makes</dt>
                <dd>{{ page.makes }}</dd>
                <dt>Category</dt>
                <dd><a href = "{{ page.category | downcase | prepend: 'search.html?category=' | prepend: site.baseurl }}">{{ page.category }}</a></dd>
		<dt>Tags</dt>
		<dd style="overflow-x: scroll; white-space: nowrap;">
		   {% for tag in page.tags %}
		   <a href="{{ tag | downcase | prepend: 'search.html?tags=' | prepend: site.baseurl }}">{{ tag }}</a>
		   {% if forloop.last == false %}, {% endif %}
                   {% endfor %}
		</dd>
              </dl>

              <dl class="ingredients">
                {% for ingredient in page.ingredients %}
                <dt>{{ ingredient[1] }}</dt>
                <dd>{{ ingredient[0] }}</dd>
                {% endfor %}
              </dl>
            </article>

            <!-- Method -->
            <article class="two-third">
              <div class="instructions">
                <ol>
                  {% for step in page.method %}
                    <li>{{ step }}</li>
                  {% endfor %}
                </ol>
              </div>
            </article>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
